
&.gallery-slider {
    display: grid;
    user-select: none;
    --visibleCount: 1;

    .gallery-item {
        padding-top: 0;
        grid-row: 1;
        grid-column: 1;
        width: var(--sliderWidth);
        transform: translateX(calc(-100% * var(--sliderPosition)));
        --sliderPositionScaled: var(--sliderPosition);
        opacity: var(--sliderVisibility);
        position: relative;
        img {
            width: calc(var(--sliderWidth));
            -webkit-user-drag: none;
        }
    }
}
